<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
<h1>Inicio</h1>
<br/>
<table border="1">
    <thead>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Email</th>
    <th>Teléfono</th>
    </thead>

    <tbody>
    <tr th:each="persona : ${personas}">
        <td th:text="${persona.nombre}">Mostrar nombre</td>
        <td th:text="${persona.apellido}">Mostrar apellido</td>
        <td th:text="${persona.email}">Mostrar email</td>
        <td th:text="${persona.telefono}">Mostrar Teléfono</td>
    </tr>
    </tbody>
</table>

</body>
</html>